@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');   

.container{
  background-color: rgb(246, 244, 244)
}

.navbarTop{
    height:90px;
    width: 100%;
    background-color: rgb(238, 238, 238);
    box-shadow: 0 8px 16px -4px rgba(0,0,0,.2);
    position:absolute;
}

.intro--section{
  background-image: url(./18410.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
}

.intro--content{
  font-size: 30px;
  font-weight: 400;
}

.about--title{
  padding-top: 80px;
  font-size: 20px;
  text-align: center;
  align-items: center;
}

.about--info{
  text-align: left;
  padding-left: 130px;
  font-size: 17px;
}

.projects--title{
    text-align: center;
}

.projects--header{
  color: gray;
  padding-top: 10px;
  font-size: 20px;
}


.button-intro {
    appearance: none;
    background-color: --primary;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    width: auto;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 40px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }
  
  .button-intro:disabled {
    pointer-events: none;
  }
  
  .button-intro:hover {
    color: #fff;
    background-color: #609;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-intro:active {
    box-shadow: none;
    transform: translateY(0);
  }

.button-projects {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 5px;
}

.button-projects:focus {
  color: #171e29;
}

.button-projects:hover {
  border-color: #609;
  color: #609;
  fill: #609;
  background-color: rgb(250, 240, 255);
}


.button-projects:active {
  border-color: #609;
  color: #609;
  fill: #609;
}

.button-projects-progress {
    align-items: center;
    background-color: #fff;
    border: 2px solid rgb(138, 138, 138);
    box-sizing: border-box;
    color: rgb(138, 138, 138);
    cursor: pointer;
    display: inline-flex;
    fill: rgb(138, 138, 138);
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: rgb(236, 236, 236);
  }

.button-projects-progress:hover{
    border-color: rgb(138, 138, 138);
    color: rgb(138, 138, 138);
    fill: rgb(138, 138, 138);
}